# --- Document Engines ---
docxtpl==0.17.0
fillpdf==0.7.1
python-docx==1.1.2 

# --- Google Cloud & Auth ---
google-api-python-client==2.120.0
google-auth-oauthlib==1.2.0

# --- AI & Logic ---
google-generativeai==0.8.0
python-dotenv==1.0.1
polars==1.2.0

# --- Interface Frameworks ---
streamlit==1.42.0
click==8.1.7